html, body{
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#main{
  height: 980px;
  width: 575px;
  margin-left: auto;
  margin-right: auto;
}

#h-content{
  margin-bottom: 100px;
}

h1{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 0;
  text-align: center;
}

p{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 0;
  margin-left: 5px;;
  float: right;
}

table {
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  width: 640px;
  border-collapse:
  collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
  background: #F3F3F3; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

td {
  background: #FAFAFA; /* Lighter grey background */
  text-align: center; /* Center our text */
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 30px;
}

table {
  color: #333; /* Lighten up font color */
  width: 575px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-collapse:
  collapse; border-spacing: 0;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

form{
  height: 350px;
  width: 575px;
  background: #FAFAFA;
  margin-top: 40px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-collapse:
  collapse; border-spacing: 0;
}

input{
  margin-left: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

textarea{
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
